
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header{
    color: #fff;
    background-color: #177757;
    text-align: center;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    }

    nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #177757;
    font-weight: bold;
    }

    nav a:hover {
    color: #0f5c3d;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

footer{
    background-color: #177757;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
.product-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.centered-div {
    flex: 1 1 calc(33.333% - 10px); 
    padding: 20px;
    border: 1px solid gray;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 5px;
    box-sizing: border-box;
}

.button{
    padding: 10px 20px;
    background-color: #177757;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.button:hover{
    background-color: #0f5c3d;
}

#map {
    height: 400px;
    width: 80%; 
    max-width: 800px; 
    margin: 20px auto; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .centered-div {
        flex: 1 1 calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .centered-div {
        flex: 1 1 100%;
    }
}
